 <div style="display: block;" class="useful-links">
                <div class="snippet-list">
                    <div class="handigeLinks ads">
                        <h3 class="heading">{{ __('messages.feature_customer') }}</h3>
                        <ul>
                            <li>
                                <span class="svg-icon-block mp-svg-handshake"></span> 
                                <span  class="title">{{ __('messages.feature_customer_title_1') }}</span>
                                <span class="sub_title">{{ __('messages.feature_customer_text_1') }}</span>
                            </li>
                            <li>
                                <span class="svg-icon-block mp-svg-shoppingcart"></span> 
                                <span class="title">{{ __('messages.feature_customer_title_2') }}</span> 
                                <span class="sub_title">{{ __('messages.feature_customer_text_2') }}</span>
                            </li>
                            <li>
                                <span class="svg-icon-block mp-svg-category-diensten"></span> 
                                <span class="title">{{ __('messages.feature_customer_title_3') }}</span>
                                <span class="sub_title">{{ __('messages.feature_customer_text_3') }}</span>
                            </li>
                            <h3 class="heading">{{ __('messages.feature_vendor') }}</h3>
                            <li>
                                <span class="svg-icon-block mp-svg-save"></span> 
                                <span class="title">{{ __('messages.feature_vendor_title_1') }}</span> 
                                <span class="sub_title">{{ __('messages.feature_vendor_text_1') }}</span>
                            </li>
                            <li>
                                <span class="svg-icon-block mp-svg-results-list"></span> 
                                <span class="title">{{ __('messages.feature_vendor_title_2') }}</span> 
                                <span class="sub_title">{{ __('messages.feature_vendor_text_2') }}</span>
                            </li>
                            <li>
                                <span class="svg-icon-block mp-svg-payable"></span> 
                                <span class="title">{{ __('messages.feature_vendor_title_3') }}</span> 
                                <span class="sub_title">{{ __('messages.feature_vendor_text_3') }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>