<ul class="flags-language">
	<li>
		<a href="/lang/en" title="English">
			<img class="img-responsive {{app.session.get('applocale') == 'en' ? 'flag-selected' : '' }}" alt="English language" class="img-responsive" src="/web/images/flags_language/usa.png" width="30" height="20">
		</a>
	</li>
	<li>
		<a href="/lang/fin" title="Finnish"><img alt="Finish" class="img-responsive {{app.session.get('applocale') == 'fin' ? 'flag-selected' : '' }}" src="/web/images/flags_language/fin.png" width="30" height="20">
		</a>
	</li>
	<li>
		<a href="/lang/swe" title="Swedish"><img alt="Swedish" class="img-responsive {{app.session.get('applocale') == 'swe' ? 'flag-selected' : '' }}" src="/web/images/flags_language/swe.png" width="30" height="20">
		</a>
	</li>
	<li>
		<a href="/lang/fr" title="France"><img alt="France" class="img-responsive {{app.session.get('applocale') == 'fr' ? 'flag-selected' : '' }}" src="/web/images/flags_language/fr.png" width="30" height="20">
		</a>
	</li>
	<li>
		<a href="/lang/it" title="Italy"><img alt="Italy" class="img-responsive {{app.session.get('applocale') == 'it' ? 'flag-selected' : '' }}" src="/web/images/flags_language/it.png" width="30" height="20">
		</a>
	</li>
	<li>
		<a href="/lang/sp" title="Spain"><img alt="Spain" class="img-responsive {{app.session.get('applocale') == 'sp' ? 'flag-selected' : '' }}" src="/web/images/flags_language/sp.png" width="30" height="20">
		</a>
	</li>
	<li>
		<a href="/lang/de" title="Germany"><img alt="Germany" class="img-responsive {{app.session.get('applocale') == 'de' ? 'flag-selected' : '' }}" src="/web/images/flags_language/de.png" width="30" height="20">
		</a>
	</li>
	<li>
		<a href="/lang/pr" title="Portugese"><img alt="Portugese" class="img-responsive {{app.session.get('applocale') == 'pr' ? 'flag-selected' : '' }}" src="/web/images/flags_language/pr.png" width="30" height="20">
		</a>
	</li>

	<li>
		<a href="/lang/ru" title="Russian"><img alt="Russian" class="img-responsive {{app.session.get('applocale') == 'ru' ? 'flag-selected' : '' }}" src="/web/images/flags_language/ru.png" width="30" height="20">
		</a>
	</li>
	<li>
		<a href="/lang/pl" title="Polish"><img alt="Polish" class="img-responsive {{app.session.get('applocale') == 'pl' ? 'flag-selected' : '' }}" src="/web/images/flags_language/po.png" width="30" height="20">
		</a>
	</li>
	<li>
		<a href="/lang/chi" title="Chinese"><img alt="Chinese" class="img-responsive {{app.session.get('applocale') == 'chi' ? 'flag-selected' : '' }}" src="/web/images/flags_language/chi.png" width="30" height="20">
		</a>
	</li>
	<li>
		<a href="/lang/hi" title="Hindi"><img alt="Hindi" class="img-responsive {{app.session.get('applocale') == 'hi' ? 'flag-selected' : '' }}" src="/web/images/flags_language/hi.png" width="30" height="20">
		</a>
	</li>
</ul>
